<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="secondary">
    <img src="assets/img/wired-brain-coffee-logo.png" class="logo">
  </ion-toolbar>

</ion-header>


<ion-content>

  <ion-toolbar>
    <ion-title>Sign into App</ion-title>
  </ion-toolbar>

  <ion-item>
    <ion-label color="danger">Email Address</ion-label>
    <ion-input type="email" [(ngModel)]="login.email" name="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="danger">Password</ion-label>
    <ion-input type="password" [(ngModel)]="login.password" name="password"></ion-input>
  </ion-item>

  <button ion-button color="secondary" (click)="signOn()">Sign In</button>
  <p>Register a free account to recevie rewards from the App</p>
  <button ion-button color="danger" [navPush]="registerPage">Create an Account</button>
</ion-content>
