<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="secondary">
    <img src="assets/img/wired-brain-coffee-logo.png" class="logo">
  </ion-toolbar>

</ion-header>


<ion-content>

  <ion-toolbar>
    <ion-title>Register Account</ion-title>
  </ion-toolbar>

  <ion-item>
    <ion-label color="danger">Email Address</ion-label>
    <ion-input type="email" [(ngModel)]="account.email" name="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="danger">Password</ion-label>
    <ion-input type="password" [(ngModel)]="account.password" name="password"></ion-input>
  </ion-item>


  <ion-item>
    <ion-label color="danger">Password Confirm</ion-label>
    <ion-input type="password" [(ngModel)]="account.password2" name="password2"></ion-input>
  </ion-item>

  <button ion-button color="secondary" (click)="registerAccount()">Register</button>

</ion-content>
