<ion-header>
  <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-toolbar [color]="[(colorToolbar)]">
    <img src="assets/img/wired-brain-coffee-logo.png" class="logo">
  </ion-toolbar>

  <ion-toolbar color="secondary" *ngIf="!loggedIn">
    <button ion-button clear [navPush]="logPage">Sign In</button>
  </ion-toolbar>

  <ion-toolbar color="secondary" *ngIf="loggedIn">
    <button (click)='aboutMePage()' ion-button icon-left clear small>
      <ion-icon name='contact'></ion-icon>
      {{loggedIn}} Logged In
    </button>

    <button ion-button icon-left outline clear small (click)="signOff()">
      <ion-icon name="close-circle"></ion-icon>
      Sign Out
    </button>

  </ion-toolbar>
</ion-header>


<ion-content overflow-scroll="false">
  <ion-list *ngFor="let menu of menuData" no-padding>
    <ion-card (click)="myPagePush(menu.pushPage)">
      <img src={{menu.pic}} alt={{menu.title}}>
      <div class="card-title">{{menu.title}}</div>
    </ion-card>
  </ion-list>
</ion-content>
