// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face {
  font-family: Raleway-Regular;
  src: url(../assets/fonts/Raleway-Regular.ttf);
}

@font-face {
  font-family: Raleway-Medium;
  src: url(../assets/fonts/Raleway-Medium.ttf);
}

@font-face {
  font-family: Raleway-Bold;
  src: url(../assets/fonts/Raleway-Bold.ttf);
}
