<!--
  Generated template for the AboutMePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>About</ion-title>
  </ion-navbar>
  <ion-toolbar color="secondary">
    <img src="assets/img/wired-brain-coffee-logo.png" class="logo">
  </ion-toolbar>
</ion-header>


<ion-content>

</ion-content>
